# Tutorial dependencies
jax
jaxlib
flax
transformers
torch-xla==2.5.0
torch==2.5.0
torchvision==0.20.0
tensorflow-cpu

# Jupyter notebook execution
ipython
ipykernel
nbclient

# StableHLO
--find-links https://github.com/openxla/stablehlo/releases/expanded_assets/dev-wheels
stablehlo
